#nossos-servicos{
    background-color: rgb(180, 180, 180);
}


#titulo-servicos{
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo-servicos h3{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 0;
}

#nossos-servicos .servicos-galeria{
    display: flex;
    flex-grow: 10;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 70px;
}

.servicos-galeria img{
    align-self: center;
    height: 350px;
    margin-top: 15px;
    box-shadow: #525151 2px 2px 2px 3px;
}
.servicos-galeria img:hover{
    transition: 1s;
    height: 400px;
}